<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h2 id="log-in-title">Enter a username:</h2>
    <div class="auth-form well">
      <%= form_for :session, url: sessions_path do |f| %>

      <%= f.select "dialect", options_for_select(["Yoda", "Valley Girl", "Binary"], "Yoda") %>

      <div class="input-group">
        <span class="input-group-addon">@</span>
        <%= f.text_field :username, placeholder: 'username', class: "form-control"%>
      </div>

      <div class="actions">
        <%= f.submit "Enter", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
    <%= render partial: 'layouts/errors'%>
  </div>
</div>
