<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <%= render partial: 'layouts/errors'%>

    <h3 id="log-in-title">Provide a username to proceed</h3>

    <div class="auth-form well">
      <%= form_for :session, url: sessions_path do |f| %>

        <label>Username</label>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <%= f.text_field :username, placeholder: 'username', class: "form-control"%>
        </div>

        <label>Dialect</label>
        <div class="input-group">
          <%= f.select "dialect", options_for_select(["Yoda", "Valley Girl", "Binary"], "Yoda"), {}, class: "form-control input-small" %>
        </div>

        <div class="control-group">
          <%= f.submit "Enter", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
